.wrapper{
    position: relative;
    width: 420px;
    height: 520px;
    background: transparent;
    border: 2px solid rgba(248, 152, 152, 0.1);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
}

.wrapper.active{
    height: 500px;
}

.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 40px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(20px);
    transition: 0.3s ease;
}

.wrapper .form-box.login{
    transition: translate .18s ease;
    translate: 0;
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    translate: 400px;
}

.wrapper.active .form-box.login{
    transition: none;
    translate: -400px;
}

.wrapper.active .form-box.register{
    transition: translate .18s ease;
    translate: 0;
}

.wrapper .form-box.forgot {
    position: absolute;
    transition: none;
    translate: 400px;
}

.wrapper.forgot-active .form-box.login {
    transition: none;
    translate: -400px;
}

.wrapper.forgot-active .form-box.forgot {
    transition: translate .18s ease;
    translate: 0;
}


.wrapper.forgot-active {
    height: 400px;
}

form h1{
    size: 36px;
    text-align: center;
}

form .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 40px;
    font-size: 15px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
}

form .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

form button{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 15px;
    color: #333;
    font-weight: 700;
}

form .register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.register-link p a:hover{
    text-decoration: underline;
}

.form-box.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition-delay: 0.1s;
}

.forgot-message {
    font-size: 15px;
    text-align: center;
    margin: 20px 0;
    line-height: 1.2;
}

.login-options {
    margin-top: 1rem;
    text-align: center;
}

.divider {
    padding-top: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider span {
    margin: 0 0.7rem;
    color: #888;
}

.auth-buttons {
    display: flex;
    justify-content: center;
}

.auth-button.microsoft {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.2rem;
    background: rgba(0, 0, 0, 0.05); 
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    opacity: 0.7;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.auth-button.microsoft:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
}

.auth-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.visibility-toggle {
    position: absolute;
    right: 340px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 30px;
    height: 30px;
}

.reset-message {
    text-align: center;
    margin: 20px 0;
    color: #ccc;
    font-size: 14px;
    line-height: 1.5;
}

.wrapper.reset-active .form-box.reset {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.form-box.reset {
    
    transition: transform 0.18s ease;
    transform: translateX(300px);
    
    
}

.wrapper.reset-active {
    height: 420px;
    
     
}
