.features-times {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 3%;
  justify-items: center;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
  .features-times {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .features-times {
    grid-template-columns: 1fr;
  }
}

.feature-card-times {
  background-color: #0d1117;
  border: 1px solid #fff;
  padding: 2rem 1.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 350px;
}

.feature-card-times:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 132, 255, 0.5);
}

.feature-image {
  height: 50px;
  object-fit: contain;
  margin-bottom: 20px;
  filter: brightness(0) invert(1);
}

.feature-card-times h1 {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

.feature-card-times p {
  color: #ccc;
  font-size: 15px;
  margin-bottom: 1rem;
}

.view-button {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  background-color: #003B6D;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.view-button:hover {
  background-color: rgb(0, 35, 70);
}
