@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: "Jersey 25", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./assets/LoginBack.png') no-repeat;
  background-size: cover;
  background-position: center;
}
